.cont{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}
.itemCount{
    display: flex;
    justify-content: center;
}
.conteiner-img img{
    border: 4px rgb(0,0,0);
}
.add{
    display: flex;
    justify-content: center;
}