.list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
    padding-right: 20px;
    font-size: 1.4rem;
}
.list a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0 10px;
    position: relative;
}
.list a::after{
    content: "";
    position: absolute;
    background-color: black;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.list a:hover::after{
    width: 100%;
}
@media (max-width: 380px) {
    .list{
        flex-direction: column;
    }
}